<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.czq.androidKaiFaYiShu">
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="custom.fota.beforeRecovery"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.study.czq.androidKaiFaYiShu.app.App">
        <service android:name=".service.MyService"
            android:process=":MyService">

        </service>

        <!--<activity android:name="com.study.czq.androidKaiFaYiShu.MainActivity" />-->
    </application>

    <permission android:name="permission.SNReceiver"
        android:protectionLevel="normal"/>
    <permission android:name="custom.fota.beforeRecovery"
        android:protectionLevel="normal"/>
</manifest>